
$primary:       rgb(213, 12, 240);
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 6,
7: $spacer * 7,
8: $spacer * 8,
);

.frontView {
    height: 95vh;

};

$container-max-widths: (
  
  sm: 300px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 100vw
) ;

$grid-breakpoints: (
  xs: 0,
  sm: 300px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) ;

$font-sizes: (
  7:.800rem,
  8:.500rem,
);





   





